{% extends 'base.html' %}

{% block content %}
  <h3>{{ actor.actor_name }}</h3>
  <p>Gender: {{ actor.gender }}</p>
  <p>Country: {{ actor.country }}</p>
  <h4>Movies Directed by {{actor.actor_name}}:</h4>
  <ul class="movie-list">
    {% for movie in movies_director %}
      <li>{{ movie.movie_name }}</li>
    {% endfor %}
  </ul>
  
  <h4>Movies acted by {{actor.actor_name}}:</h4>
  <ul class="movie-list">
    {% for movie in movies_actor %}
      <li>{{ movie.movie_name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
