{% extends 'base.html' %}
{% block content %}
<p>{{ actors|length }} Titles</p>
	{% if current_user.is_authenticated %}
	<form method="post" action="{{ url_for('add_actor') }}">
    		Name <input type="text" name="title" autocomplete="off" required>
    		Gender <input type="text" name="gender" autocomplete="off" required>
			Country <input type="text" name="country" autocomplete="off" required>
    		<input class="btn" type="submit" name="submit" value="Add">
	</form>
	{% endif %}
<form method="get" action="{{ url_for('search_actor') }}">
	Search Actors: <input type="text" name="keyword" autocomplete="off" required>
	<input class="btn" type="submit" value="Search">
</form>
<ul class="movie-list">
	{% for actor in actors %}
	<li>{{ actor.actor_name }} - {{ actor.gender }} - {{actor.country}}
		<span class="float-right">
			<a class="btn" href="{{ url_for('actor_details', actor_id=actor.actor_id) }}">Details</a>
			{% if current_user.is_authenticated %}
				<a class="btn" href="{{ url_for('edit_actor', actor_id=actor.actor_id) }}">Edit</a>
				<form class="inline-form" method="post" action="{{ url_for('.delete_actor', actor_id=actor.actor_id) }}">
					<input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
				</form>
			{% endif %}
			<a class="baidu" href="https://www.baidu.com/s?wd={{actor.actor_name }}" target="_blank" title="Find this movie on baidu">IMDb</a>
		</span>	
		

	</li>
	{% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.png') }}" title="to~to~ro~">

{% endblock %}
